<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block box_close %}
    <div>
        <a href="#">
            <span class="left">
              <span class="circle-left"></span>
              <span class="circle-right"></span>
            </span>
            <span class="right">
              <span class="circle-left"></span>
              <span class="circle-right"></span>
            </span>
        </a>
    </div>
{% endblock %}
</body>
</html>