<!DOCTYPE html>
<html lang="en">
<body>
<h1 class="title">{% block page_title %}{% endblock %}</h1>
<div class="sidebar">
    <div class="hamburger-menu-container">
        <div class="hamburger-menu">
            <div class="hamburger-menu-line"></div>
            <div class="hamburger-menu-line"></div>
            <div class="hamburger-menu-line"></div>
        </div>
    </div>
    <nav class="nav">
        <nav class="nav-item">
            {% block nav_item %}{% endblock %}
        </nav>
        <nav class="nav-item">
            {% block nav_item_2 %}{% endblock %}
        </nav>
        <nav class="nav-item">
            {% block nav_item_3 %}{% endblock %}
        </nav>
        <nav class="nav-item">
            {% block nav_item_4 %}{% endblock %}
        </nav>
    </nav>
</div>

<script src="/static/javascript/navBar.js"></script>
</body>
</html>