<!DOCTYPE html>
<body>
<div class="sidebar">
    <div class="hamburger-menu-container">
        <div class="hamburger-menu">
            <div class="hamburger-menu-line"></div>
            <div class="hamburger-menu-line"></div>
            <div class="hamburger-menu-line"></div>
        </div>
    </div>
    <nav class="nav" aria-labelledby="homeNav">
        <nav class="nav-item" aria-labelledby="homeNavItem1">
            {% block nav_item %}{% endblock %}
        </nav>
        <nav class="nav-item" aria-labelledby="homeNavItem2">
            {% block nav_item_2 %}{% endblock %}
        </nav>
        <nav class="nav-item" aria-labelledby="homeNavItem3">
            {% block nav_item_3 %}{% endblock %}
        </nav>
        <nav class="nav-item" aria-labelledby="homeNavItem4">
            {% block nav_item_4 %}{% endblock %}
        </nav>
    </nav>
</div>

<script src="/static/javascript/navBar.js"></script>
</body>
</html>