<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../../static/css/portfolio.css">
    <link rel="stylesheet" href="../../static/css/navbar.css">
    <link rel="stylesheet" href="../../static/css/portfolio_entries.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,500;1,400;1,500;1,700&family=Sniglet&display=swap"
          rel="stylesheet">
</head>
<body>
<div class="portfolio-body">
    {% include 'portfolio/portfolio_nav.html' %}
    <div class="tabs-and-frame-container">
        <div class="tabs">
            <a href="#">
                <button class='style-btn' type="button" onclick="visible('Art', 'Design', 'Photography', 'Python')">
                    Art
                </button>
            </a>
            <a href="#">
                <button class='style-btn' type="button" onclick="visible('Design', 'Art', 'Photography', 'Python')">
                    Design
                </button>
            </a>
            <a href="#">
                <button class='style-btn' type="button" onclick="visible('Photography', 'Art', 'Design', 'Python')">
                    Photography
                </button>
            </a>
            <a href="#">
                <button class='style-btn' type="button" onclick="visible('Python', 'Art', 'Design', 'Photography')">
                    Python
                </button>
            </a>
        </div>
        <div class="frame">
            <div class="portfolio-container">
                <div class="portfolio-box" id="Art">{% include 'portfolio/art.html' %}</div>
                <div style="display: none" id="Design">{% include 'portfolio/design.html' %}</div>
                <div style="display: none" id="Photography">{% include 'portfolio/photography.html' %}</div>
                <div style="display: none" id="Python">{% include 'portfolio/python.html' %}</div>
            </div>
        </div>
    </div>
    {% include 'main/footer.html' %}
    <script>
        function visible(portfolio, portfolio1, portfolio2, portfolio3) {
            document.getElementById(portfolio).style.display = '';
            document.getElementById(portfolio1).style.display = 'none';
            document.getElementById(portfolio2).style.display = 'none';
            document.getElementById(portfolio3).style.display = 'none';
        }
    </script>
</div>
</body>
</html>
