:root {
  --font-size-title: 3rem;
  --line-height-title: 1.4;
  --font-size-caption: 1.5em;
  --line-height-caption: 1.5em;
  --color-text: rgba(6, 6, 53, 0.89);
  --color-highlight-primary: #9ec6f6;
  --color-highlight-secondary: #8686ca;
  --border-radius-primary: 32px;
}

body {
	width: 100%;
	height: 100vh;
	margin: 0;
}

.container {
    display: grid;
    grid-template-areas:
    "nav"
    "blog"
    "footer";
    grid-template-rows: 125px 1fr 100px;
    grid-template-columns: 1fr;
}

.nav {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(60deg, rgba(46, 40, 67, 0.90), rgba(4, 4, 42, 0.90) 60%)
}

h1 {
    font-family: Tahoma, sans-serif;
    font-size: 3.5vw;
    color: #e1e9ff;
    margin: 0;
}

.blog_container {
	background: linear-gradient(60deg, #283858, #212441 60%) no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
}

* {
	 -webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
}

 @media (min-width: 576px) {
	 :root {
		 --font-size-title: 40px;
	}
}

@media (min-width: 576px) {
	 .card {
		 flex-direction: row;
		 align-items: center;
		 margin: 40px;
		 padding: 32px;
	}
}

.card {
	width: 720px;
	border-radius: var(--border-radius-primary);
	box-shadow: 10px 11px 9px 0 rgba(0, 0, 0, 0.2);
	padding: 20px 20px 28px 20px;
	box-sizing: content-box;
	margin: 20px;
	display: flex;
	flex-direction: row;
	background-color: #e1e9ff;
}


.card__image {
	 width: 50%;
	 max-height: 200px;
	 border-radius: var(--border-radius-primary);
	 object-fit: cover;
	 margin-bottom: 18px;
}

@media (min-width: 576px) {
	 .card__image {
		 width: 45%;
		 max-height: none;
		 min-height: 300px;
		 margin-bottom: 0;
	}
}

@media (min-width: 576px) {
	.card__content {
	width: 55%;
	padding: 0 1em;
	text-align: center
	}
}

.card__date {
	 display: block;
	 font-family: Tahoma, sans-serif;
	 font-size: var(--font-size-caption);
	 line-height: var(--line-height-caption);
	 text-transform: uppercase;
	 color: var(--color-text);
	 margin-bottom: 6px;
}

@media (min-width: 576px) {
	 .card__date {
		 margin-bottom: 8px;
	}
}

.card__title {
	font-family: Tahoma, sans-serif;
	font-size: var(--font-size-title);
	font-weight: 600;
	line-height: var(--line-height-title);
	color: var(--color-text);
	box-decoration-break: clone;
	background-image: linear-gradient(90deg, var(--color-highlight-primary), var(--color-highlight-secondary));
	background-size: 100% 15%;
	background-repeat: no-repeat;
	background-position: 0 95%;
	padding: 0 4px;
	margin-left: -4px;
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    align-items: center;
	background: linear-gradient(60deg, rgba(46, 40, 67, 0.90), rgba(4, 4, 42, 0.90) 60%);
	color: #e1e9ff;
}

footer > small {
    margin: 0 0 0 4em;
}
