.thumbnails-container {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 3;
}

.thumbnail {
    background-image: url("../images/lightfall.jfif");
    width: 15vw;
    height: 13vh;
    color: #FFF;
    font-family: Cabin, cursive;
    font-size: 1.5vw;
    scroll-behavior: smooth;
    border-radius: 5px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5) inset;
}

.thumbnail-entry {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3) inset;
}

.thumbnail-entry:hover {
    backdrop-filter: none;
    cursor: pointer;
}


@-webkit-keyframes slideIn {
    0% {
        transform: translateX(-500px);
    }
    100% {
        transform: translateX(0);
    }
}

@-moz-keyframes slideIn {
    0% {
        transform: translateX(-500px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-500px);
    }

    100% {
        transform: translateX(0);
    }
}


