.main-body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.portfolio-body {
    display: grid;
    grid-template-areas:
    'Navigation'
    'Title'
    'PortfolioContainer'
    'Foot';
    grid-template-rows: max-content max-content 1fr 5vh;
    background: linear-gradient(60deg, var(--fresh-snow), var(--snowy-contrast) 90%);
    color: #1d252b;
    min-height: 100vh;
}

.title {
    grid-area: Title;
    display: flex;
    justify-content: center;
    font-family: Cabin, sans-serif;
    font-size: 4vw;
    margin: 0;
}

.sidebar {
    grid-area: Navigation;
    height: max-content;
}

.tabs-and-frame-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.font {
    font-family: 'Cabin', sans-serif;
    font-weight: normal;
    font-size: 4vw;
}

a {
    text-decoration: none;
}

.tabs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.style-btn {
    width: 8vw;
    height: calc(40vh * 0.25);
    background-color: var(--snowy-dark-shadow);
    border: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.3);
    font-family: 'Cabin', sans-serif;
    font-size: 1vw;
    color: var(--fresh-snow);
}

.style-btn:hover {
    animation: 0.25s linear 0s btn-animation forwards;
    cursor: pointer;
}

.style-btn:focus {
    background: var(--snowy-light-shadow);
    width: 10vw;
}

@keyframes btn-animation {
    from {
        width: 8vw;
        background-color: var(--snowy-dark-shadow);
    }
    to {
        background: var(--snowy-light-shadow);
        width: 10vw;
    }
}

.frame {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--snowy-contrast);
    width: 50vw;
    height: 65vh;
    text-align: center;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25) inset, 0 5px 10px 5px rgba(0, 0, 0, .25);
    border: 5vmin solid;
    border-top-color: #21272c;
    border-right-color: #252a30;
    border-left-color: #252a30;
    border-bottom-color: #2a2f33;
}

.frame:before {
    position: absolute;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25) inset;
    content: "";
    left: -2vmin;
    right: -2vmin;
    top: -2vmin;
    bottom: -2vmin;
}

.frame:after {
    z-index: 1;
    position: absolute;
    content: "";
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25);
    top: -2.5vmin;
    right: -2.5vmin;
    bottom: -2.5vmin;
    left: -2.5vmin;
}

.close-button {
    z-index: 5;
    position: absolute;
    width: 1vw;
    top: 2vh;
    left: 1vw;
    padding: 0.5vw;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px inset var(--snowy-dark-shadow), 0 0 3px 3px inset var(--snowy-light-shadow), 0 0 1px 0 black;
    animation: fadeIn 2s;
}

.portfolio-container {
    display: flex;
    overflow: scroll;
    -ms-overflow-style: none; /* Edge */
    background-color: var(--day-after-snow);
    width: 90%;
    height: 90%;
    content: "";
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5) inset;
}

.portfolio-container::-webkit-scrollbar {
    display: none;
}

.portfolio-flex {
    display: flex;
    gap: 30px 20px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.entry-flex {
    height: 100%;
    display: none;
}

.value-information {
    display: none;
}

.portfolio-block {
    display: flex;
    align-items: center;
    animation: fadeIn 1s;
    background-color: var(--snowy-light-shadow);
    box-shadow: -16px 0 20px 0 rgba(0, 0, 0, 0.5) inset;
}

.entry-display-inset {
    position: relative;
    display: flex;
    margin: 15%;
    border-radius: 5px;
}

.entry-display-inset:before {
    border-radius: 5px;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -moz-box-shadow: inset 0 1px 20px 1px #4e5f6e, inset 0 0 11px 3px rgb(0 0 0 / 90%);
    box-shadow: inset 0 1px 20px 1px #4e5f6e, inset 0 0 11px 3px rgb(0 0 0 / 90%);
    -webkit-box-shadow: inset 0 1px 20px 1px #4e5f6e, inset 0 0 11px 3px rgba(0 0 0 / 90%);
}

.portfolio-image {
    width: 100%;
    border-radius: 5px;
    height: auto;
}

.project-description {
    display: flex;
    align-items: center;
    text-align: left;
    line-height: 3vh;
    width: 20vw;
    padding: 1vw;
    color: var(--fresh-snow);
    background: var(--snowy-dark-shadow);
    border-right: #040911 8px solid;
    box-shadow: 20px 0 20px -15px rgba(0, 0, 0, 0.5) inset;
    font-family: Sniglet, cursive;
    font-size: 1.5rem;
    -webkit-animation: slideIn 0.75s forwards;
    -moz-animation: slideIn 0.75s forwards;
    animation: slideIn 0.75s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

footer {
    color: var(--fresh-snow);
    font-family: 'Cabin', sans-serif;
    grid-area: Foot;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(60deg, #1d252b, #4e5f6e 300%);
    padding-left: 2em;
}

