.thumbnails-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 20px;
    flex-direction: row;
    justify-content: center;
    z-index: 2;
}

.thumbnail {
    display: flex;
    background-image: url("../images/lightfall.jfif");
    width: 250px;
    height: 150px;
    margin: 0;
    color: #FFF;
    font-family: Cabin, cursive;
    font-size: 1.5vw;
    scroll-behavior: smooth;
    border-radius: 5px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5) inset;
}

.thumbnail-entry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3) inset;
}

.thumbnail-entry:hover {
    backdrop-filter: none;
    cursor: pointer;
}

.details-block {
    display: flex;
    align-items: center;
    text-align: left;
    border-right: #040911 8px solid;
    width: 13vw;
    height: 100%;
    background: var(--snowy-dark-shadow);
    -webkit-animation: slideIn 0.75s forwards;
    -moz-animation: slideIn 0.75s forwards;
    animation: slideIn 0.75s forwards;
}

@-webkit-keyframes slideIn {
    0% {
        transform: translateX(-500px);
    }
    100% {
        transform: translateX(0);
    }
}

@-moz-keyframes slideIn {
    0% {
        transform: translateX(-500px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-500px);
    }

    100% {
        transform: translateX(0);
    }
}

.project-description {
    font-family: Sniglet, cursive;
    color: var(--fresh-snow);
    animation: fadeIn 2s;
    padding: 0 calc(25%/2);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


